<div>
  <spinner *ngIf='!patient'></spinner>
  <ion-list *ngIf='!!patient'>
    <ion-item>
      <h2 class='bold'>Name</h2>
      <p>{{ patient.first_name }} {{ patient.last_name }}</p>
    </ion-item>
    <ion-item>
      <h2 class='bold'>Pesel</h2>
      <p>{{ patient.profile.pesel }}</p>
    </ion-item>
    <ion-item>
      <h2 class='bold'>Birth date</h2>
      <p>{{ patient.profile.birth_date | date }}</p>
    </ion-item>
    <ion-item>
      <h2 class='bold'>Gender</h2>
      <p>{{ patient.profile.gender | gender }}</p>
    </ion-item>
    <ion-item>
      <h2 class='bold'>Address</h2>
      <p>{{ patient.profile.address }}, {{ patient.profile.zip_code }} {{ patient.profile.city }}</p>
    </ion-item>
  </ion-list>
</div>