// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import '../theme/variables';

.item-md {
  h2 {
    &.bold {
      font-weight: 500;
    }
  }
}

.ion-page {
  ion-content {
    position: absolute;
    margin-top: 47px;

    .scroll-content {
      padding-bottom: 50px;
    }
  }
}

title-bar {
  display: inline-block;
  height: 56px;
}

.segment {
  background-color: map-get($colors, primary);
  margin-top: -3px;
  position: relative;
  z-index: 100;

  .segment-md-primary {
    .segment-button {
      color: map-get($colors, white-color);

      &.segment-activated {
        border-color: map-get($colors, white-color);
      }
    }
  }
}

.card-list { 
	&.card-md {
		width: auto;
		margin: 10px 0;
	}

	.card-header-md {
    border-bottom: 1px solid #e8e8e8;
		padding: 16px 16px 10px 16px;

		h2 {
    	color: #387ef5;
		}
	}

	.card-content-md {
		padding-top: 16px;

		.item-md {
			padding-left: 10px;
		}
	}
}
